
/* This is a CSS file. It is used to change the look feel and format of html
   elements on the page. The general format is (in Pseudocode):

         CSS SELECTOR {
           ATTRIBUTE NAME:ATTRIBUTE VALUE;
         }

    A CSS selector is an HTML element on the page, HTML classes start with .
                                                   HTML elements start with #
                                                   Tags are just their plain NAME

   If you only want to target a specific html element by tag and not target all
   the elements with that tag you can use things like nth child and child selction
   using >

   A lot of the HTML ids and classes are specified in the UI of the shiny
   Or in the external HTML files

   I did most of the modifications in the browser using the web developer tools
   and then copying and pasting the css changes into this file.
   More about web development tools : https://developer.mozilla.org/en-US/docs/Learn/Common_questions/Tools_and_setup/What_are_browser_developer_tools

   I haven't documented all the CSS in this fill, because modifications are
   probably easier to make in the browser */


/* .navbar refers to the top navigation bar by CSS class */

.navbar-default {
 /* background-color: #07294C; */
  background-color: #ced2dc;
  border-color: #ced2dc;
  margin-left: 15px;
  margin-right: 18px;
  
  /*
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;

  
  */
  margin-top: 10px;
  margin-bottom: 0;

  font-size: 20px;
}



.navbar-default .navbar-brand {
  color: White;
}


.navbar-brand {
  font-weight: bold;
  /* font-size: 25px; */
  font-size: 32px;
 /* 
  margin-left: 0;
  */
  margin-left: 1px;
}




.navbar-header {
  background-color: #07294C;
  width: 100%;

  margin-bottom: 10px;
  border-radius: 15px;

  text-align: center;
  
  margin-left: 1px;
}


.navbar > div:nth-child(1) {

  margin-right: 0px;
  margin-left: 0px;
  margin-top: 0px;


    padding-right: 0px;

/*
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    
    */


     padding-left: 0px;
}


.navbar {
margin-left: 15px;
}

/* This overwrites a bootstrap default to let us set the navbar to have a 1px margin
   for the mobile version too    */ 
   
.container-fluid > .navbar-collapse, .container-fluid > .navbar-header, .container > .navbar-collapse, .container > .navbar-header {
margin-left: 0px;
}


/* This specifies the color we see when we hover over the text in the navigation
   bar */

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
  color: #FFCC00;
}


.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
   /* color: #07294C; */
  color: white;
  border-radius: 15px;
}

.navbar-default .navbar-nav > li > a {
  color: white;
  background-color: #666666;
}



/* Post deployment correction: Element | https://russellshean.shinyapps.io/bigfoot-dashboard-demo/_w_6a91fb49/ */

li.active {
  margin-bottom: 10px;
  background-color: #07294C;
}



@media (min-width: 768px) {
  .navbar-nav > li > a {
    border-radius: 15px;
  }
  .navbar-nav > li {
    border-radius: 15px;
    font-weight: bold;
  }
}


@media (min-width: 768px) {
  .col-sm-5 {
    padding-right: 0;
  }
}



@media (min-width: 768px) {
  .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    color: white;
     width: 100%;
  }
}


.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
  /* background-color: #e7e7e7; */
  background-color: #07294C;
  border-radius: 15px;
}


.nav {
  /* outline: 1px dotted red !important; */
  background-color: #eff0f3;
  width: 100%;
   padding-top: 10px;
  border-radius: 15px;
  margin-bottom: 10px;
  margin-left: 1px;
  
}


.nav > li:nth-child(5) > a:nth-child(1) {
  position: left;
  float: left;
}

.nav > li > a {
  border-radius: 15px;
}

.nav > li {
  margin-left: 15px;
  border-radius: 15px;
  margin-top: 5px;
  margin-right: 15px;
}




.navbar > div:nth-child(1) > div:nth-child(3) > a:nth-child(1) > img:nth-child(1) {
  background-color: white;
  margin-bottom: 10px;
  padding-bottom: 0;
  border-radius: 15px;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
  color: #FFCC00;
}

/* this sets the font globally for all text contained in a p tag */

p {
  font-family: Segoe UI, wf_segoe-ui_normal, helvetica, arial, sans-serif;
}


#page-one {
  background-color: #CED2DC;
  padding-left: 0px;
  }


#page-one > div:nth-child(1) {
  margin-bottom: 0;
}

#page-one > div:nth-child(1) > p:nth-child(1) {

  padding-top: 15px;
  padding-bottom: 15px;
}



.intro-text {
  background-color:#EFF0F3;

  padding-left:15px;
  padding-right: 15px;
  padding-top:5px;
  padding-bottom:10px;
  
  border-radius: 15px;

/*
  border-bottom-left-radius:15px;
  border-bottom-right-radius:15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  
  */

  margin-right: 3px;
  margin-left:15px;
  margin-bottom: 0;

  font-size: 20px;

}


.data-definitions-box {
  font-family: Segoe UI, wf_segoe-ui_normal, helvetica, arial, sans-serif;
  background-color: white;
  padding: 15px;

  margin-right: -12px;
  margin-bottom: 60px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;

  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}


body {
  background-color: #CED2DC;
  font-family: Segoe UI, wf_segoe-ui_normal, helvetica, arial, sans-serif;
  font-size:15px;
}



#sighting_counts_plot_column {
  background-color: #EFF0F3;
  padding: 10px;
  border-radius: 15px;
  padding-right: 5px;
}


#sighting_counts_plot > img:nth-child(1) {
  border-radius: 15px;
  margin-right: -0px;
}



#map_or_table_column > div:nth-child(2) {
  background-color: #EFF0F3;
  padding: 10px;
  border-radius: 15px;
}



#county_sightings_map {
  border-radius: 15px;
}



#county_sightings_table {
  background-color: #EFF1F3;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 15px;
}



#DataTables_Table_1_wrapper {
  background-color: white;
  border-radius: 15px;
}



.btn-default {

  color: white;
  background-color: #07294C;
}



div.col-sm-7:nth-child(3) {
  padding-left: 0;
  padding-right: 0;
}

.col-sm-7 {
  padding-right: 15px;
  padding-left: 10px;
}


#report_class_plot_column {
  /*
  padding-right: 10px;
  */
  padding-right: 0px;
  
  margin-top: 10px;
}



#radio-button-well {
  margin: 0;
  padding-bottom: 0;
  padding-top: 0;
  border-radius: 15px;
  width: fit-content;
  padding-right: 10px;
  display: inline-block;
  margin-top: 0;
  height: fit-content;


  background-color: white;
  color: black;
  border-color: black;


}



#map_or_table_button {
  margin-bottom: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 18px;
}



span.irs:nth-child(2) {
  background-color: white;
  border-radius: 15px;
  height: 55px;
}




#report_class_plot > img:nth-child(1) {
  height: 100%;
  height: 100%;
  width: 100%;
  width: 100%;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}


#report_class_plot {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  background-color: #EFF0F3;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;

  margin-top: 0;
}

/* data tables is tricky because it calls to a javascript API and the API
   will also make changes to the CSS... apparently sometimes after render

   Tne !important modifier is needed to force some of the CSS styles
   A better way to do this is probably to write Javascript code to pass
   to the API inside of the shiny server #Goals */

#DataTables_Table_0 {
  background-color: white;
  table-layout: fixed;
  width: 100% !important;
  height: 100% !important;
  border-radius: 15px;
  font-size: 15px;
}

/* th defines a cell within a table */

#DataTables_Table_0 th{
  width: auto !important;
  white-space: normal;

  /* this cuts off overflowing text with three dots...at least in theory lol */
  text-overflow: ellipsis;
  overflow: hidden;
  height: auto !important;
  font-size:15px;
}



#season_table {

  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  background-color: #EFF0F3;
  padding-top: 0;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  height: 400px !important;
}


#season_table_column {
  
 /* 
  padding: 0;
  
  width: 32.5%;
  
  
  
  margin-left: 15px;
  */
  padding-right: 0px;
  
  margin-top: 10px;
}



#weekday_plot > img:nth-child(1) {

  height: 100%;
  width: 100%;

  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;

}


#weekday_plot {
  background-color: #EFF0F3;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

#page-five > div:nth-child(1) {
  background-color: white;
  margin-right: -12px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

#page-four {
padding-left: 0px;
}

#page-two {
padding-left: 0px;
}

/*    not for now
#page-three {
padding-left: 0px;
}
*/ 


#shiny-page-intro {
  margin-left: 0;
  margin-right: 0;
}



div.leaflet-pane:nth-child(6) {
  font-family: Segoe UI, wf_segoe-ui_normal, helvetica, arial, sans-serif;
}


div#county_sightings_map.leaflet.html-widget.html-widget-output.shiny-bound-output.leaflet-container.leaflet-touch.leaflet-retina.leaflet-fade-anim.leaflet-grab.leaflet-touch-drag.leaflet-touch-zoom {
  font-family: Segoe UI, wf_segoe-ui_normal, helvetica, arial, sans-serif;


}

/* this targes all the tool tips by class
   z-index refers to the position on the z plane,
   so like it defines what appears on top, 9999 forces the tooltip
   to display on top of everything else on the page */

.tooltip {

 z-index: 9999

}

#DataTables_Table_1 {
  width: 100%;
  background-color: white;
  border-radius: 15px;
}


#choice_selector {


  /* background-color: #e7e7e7; */
  /* margin-bottom: 20px; */
  background-color: #EFF0F3;
  margin-bottom: 10px;
  border-radius: 15px;


  display: flex;
  flex-direction: row;
  padding-top: 10px;
  padding-left: 30px;
  margin-left: 15px;

}


#page-3 > div:nth-child(1) {

  margin-right: 3px;
}


.map_choice-container {

  /* margin-right: 35px; */
   margin-right: 25px;
}

li.active > a:nth-child(1) {
  display: inline-block;
}






.dropdown-toggle {

  background-color: white;
  color: black;
}

#bigfoots_maps {

  border-radius: 15px;

border-width: 2px;
border-color: black;
border-style: solid;

}

#page-3 > div:nth-child(2) > div:nth-child(1) {

  background-color: background-color: #e7e7e7;
  background-color: #e7e7e7;
  border-radius: 15px;
  padding: 10px;
  margin-left: 15px;
  margin-bottom: 20px;
}



@media (min-width: 768px) {
  .col-sm-9 {
    /* width: 75%; */
    width: 82%;
    margin-right: 0px;
    padding-right: 0px;
  }
}


#page-3 > div:nth-child(2) {

  margin-right: -15px;
}


.time-stamp {
  margin-right: 10px;
  max-width: max-content;

    /* margin-left: auto; */
  /* display: inline; */
  margin-left: 15px;
  float: right;
  margin-top: 10px;
}

/* from legend allignment */

/* This forces the leaflet legend to allign the text and
   colorful squares correctly to the left, some bug in the r package
   randomly caused them to become unalligned half way through this project */

.leaflet-bottom .leaflet-control {

  text-align: left;
}


/* from footer */
footer{
    margin-bottom: auto;
    color:green;
    justify-content: space-between;
    margin-top: 40px;
     /*
    padding-left: 100px;
    padding-right: 100px;
    */
    padding-top: 10px;
    display: flex;
    background-color: #581B51;
    /*
    height: 425px;
    */
    margin-bottom: 0;
}



#footer-first-column {

  display: inline-block;
  width: max-content;
}

#contact-form {

  display: inline-block;
  width: max-content;
}

div.row:nth-child(6) > div:nth-child(1) {

  width: 100%;
}

div.row:nth-child(7) > div:nth-child(1) {

  width: 100%;
}


div.row:nth-child(8) > div:nth-child(1) {

  width: 100%;
}

#footer-second-column {
  display: inline-block !important;
  width: max-content;
  height: 250px !important;
}


.twitter-timeline {

  max-height: 250px !important;
  max-width: 100%;
  height: 250px !important;
}



#twitter-widget-0 {

  height: 250px !important;
  display: inline-block !important;
  margin-bottom: 20px !important;
  border-radius: 15px !important;
}


#bigfoot-shadow-img {

  height: 350px;
  margin-top: 40px;
}

#bigfoot-shadow-img-container {

  display: flex;
  justify-content: center;

}


#footer-second-row {

  background-color: #932A6E;
  padding-top: 10px;
  padding-bottom: 10px;
  justify-content: center;
  display: flex;
  color: white;
}


#footer-second-row > a:nth-child(1) {

  margin-left: 15px;
  margin-right: 15px;
  color: white;
  text-decoration: underline;
}


#footer-second-row > a:nth-child(1):hover {

  color: #FFCC00;
  text-decoration: none;
}


.external-iframe {

  width: 100.5%;
  height: 1437.50px;
  margin-left: auto;
  margin-right: -10px;
  background-color: #E7E7E7;
  padding: 10px;
  border-radius: 15px;
  margin-top: 20px;
}

#missing_counties_note {
  background-color: white;
  border-radius: 15px;
  padding: 5px;
  font-size: 20px;
  padding-left: 15px;
  padding-top: 12.5px;
  padding-bottom: 12.5px;
}


#point-map-notes {

  display: inline: block;
  display: inline-block;
 /* margin-left: auto; */
  margin-bottom: 10px;
  margin-left: 40px;
}


#report_missing {

  background-color: white;
  font-size: 18px;
  text-align: center;
  border-radius: 15px;
  padding-top: 2.5px;
  padding-bottom: 2.5px;
}


#weekday_missing {

  background-color: white;
  font-size: 18px;
  text-align: center;
  border-radius: 15px;
  padding-top: 2.5px;
  padding-bottom: 2.5px;
}

#time_missing {

  background-color: white;
  font-size: 18px;
  padding-left: ;
  text-align: center;
  border-radius: 15px;
  padding-top: 2.5px;
  padding-bottom: 2.5px;
}

#footer-second-column > h1:nth-child(1) {
  margin-bottom: 40px;
}

div.row:nth-child(9) > div:nth-child(1) {
width: fit-content;
}

/* from take 5 */
#weekday_plot_column {

/*
  width: 33.75%;
  
  */
  padding-right: 0px;
  
  padding-top: 10px;

/*
  padding-left: 10px;
  
  */
}

/*
@media (min-width: 768px) {
  .col-sm-4 {

    width: 33.749%;
  }
}
*/

div.col-sm-2:nth-child(2) {

  margin-top: 30px;
}


div.col-sm-2:nth-child(2) > span:nth-child(1) {
  margin-top: 25px;
}

#map-well > span:nth-child(2) {

  margin-top: 7px;
  display: block;
  float: right;
  margin-left: auto;

}

#map-well {

  width: 100%;
  background-color: #EFF0F3;
  display: inherit;
  padding-left: 15px;
  padding-top: 18px;
  padding-right: 20px;
  position: sticky;
  top: 0;
  margin-right: 15px;


  padding-bottom: 20px;
  margin-bottom: 10px;

  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}


#epi-well {
  background-color: #EFF0F3;
  width: 100%;
  display: inherit;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding-left: 25px;
  padding-top: 7px;
  padding-bottom: 5px;
  padding-right: 30px;
    /* margin-bottom: 20px; */
  margin-bottom: 10px;

}




#epi-well > div:nth-child(1) {

  display: inline-block;
  margin-bottom: 0;
}



#epi-well > span:nth-child(2) {

  margin-top: 10px;
  display: block;
  margin-left: auto;
  float: right;
}


#epi-well > div:nth-child(1) > div:nth-child(2) > div:nth-child(2) {
  margin-bottom: 0;
}

#dashboard-content-page-one > div:nth-child(2) {

  display: flex;
  margin-bottom: 20px;
}



#dashboard-content-page-one > div:nth-child(1) {

 /* margin-top: 20px; */
    margin-top: 10px;
  margin-right: -25px;
}

/* this is the class for the titles above the graphics (plots and tables)
   on the second page */

.graphic-title {
  background-color: #07294C;
  color: white;
  width: 100%;
  display: inline-block;
  text-align: center;
  font-size: 23px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}

/*
#three-plots-container {

  margin-top: 10px;
}

*/

.missing-text {
  background-color: #EFF0F3;
  padding: 10px;
  display: inline-block;
  width: 100%;
  border-radius: 15px;
  margin-top: 10px;
  text-align: center;
}


#date-slider2 {
  background-color: white;
  margin: 0;
}

#date-slider2 > div:nth-child(1) {
  margin: 0;
}


#slider-container {

  background-color: #EFF0F3;
  padding: 10px;
  display: inline-block;
  width: 100%;
  margin-top: 10px;
  border-radius: 15px;
}

#classification-descriptions {

  border: 1px solid black;
  width: fit-content;
  padding: ;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 5px;
}


/* leaflet popup labels */

#popup-title {

  text-align:center;
  background-color:#144361;
  color:white;
  border-color:black;
  border-radius:15px;
  border-width:5px;
  padding:7.5px;
  border-style:solid;


}


#first-popbox {

  background-color:#6298BC;
  border-radius:15px;
  padding:7.5px;
  margin-top:0;

}

#second-popbox {

  background-color:#D9EAF7;
  border-radius:15px;
  padding:7.5px;
  margin-top:10px;

}

#popbox-report-text{

  text-align:center;
  display:inline;
  left:50%;
  right:50%;
  width:100%;

}


.heading-container {
  background-color: #07294c;
  color: white;
  margin-top: 10px;
  margin-left: 15px;
  text-align: center;
  font-size: 32px;
  padding: 5px;
}

